{
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 130,
    "tabWidth": 4,
    "trailingComma": "es5"
}
